 <div class="card-body">
    <h2 class="mb-4">Mon compte</h2>
    <h3 class="card-title mt-4">Photo de profil</h3>
    <div class="row align-items-center">
        <div class="col-auto"><span class="avatar avatar-xl" style="background-image: url({{asset('static/avatars/default.png')}})"></span>
        </div>
        <div class="col-auto">
            <a href="#" class="btn">
                Change avatar
            </a>
        </div>
        <div class="col-auto">
            <a href="#" class="btn btn-ghost-danger">
                Delete avatar
            </a>
        </div>
    </div>
    <h3 class="card-title mt-4">Informations personnelles</h3>
    <div class="row g-3">
        <div class="col-md">
            <div class="form-label">Nom</div>
            <input type="text" class="form-control" value="Tabler">
        </div>
        <div class="col-md">
            <div class="form-label">Prénom</div>
            <input type="text" class="form-control" value="560afc32">
        </div>
        <div class="col-md">
            <div class="form-label">Email</div>
            <input type="text" class="form-control" value="Peimei, China">
        </div>
    </div>
</div>
<div class="card-footer bg-transparent mt-auto">
    <div class="btn-list justify-content-end">
        <a href="#" class="btn btn-primary">
            Mettre à jour
        </a>
    </div>
</div>
