<div class="card-body">
    <h2 class="mb-4">Mon mot de passe</h2>
    <div id='calendar-timetable-weekly' data-feed="{{ path('ajax_teacher_timetable_sessions', {'id': app.user.id} ) }}" class="w-100"></div>
</div>