{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur Formatool!{% endblock %}

{% block body %}

    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle">
                        Accueil
                    </div>
                    <h2 class="page-title">
                        Liste des formations
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter text-nowrap datatable">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Niveau</th>
                                        <th>Responsable Pédagogique</th>
                                        <th>Nb étudiants</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for training in trainings %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('training_detail', {'id': training.id} ) }}" class="text-reset" tabindex="-1">
                                                    {{training.title}}
                                                </a>
                                            </td>
                                            <td>
                                                {{training.level}}
                                            </td>
                                            <td>
                                                {{training.contentContact.displayName}}
                                            </td>
                                            <td>
                                                
                                            </td>
                                            <td class="text-end">
                                                
                                            </td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

{% endblock %}
