<div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable" id="topics-groups-table" style="width:100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Matière(s) associée(s)</th>
                <th class="w-1"></th>   
            </tr>
        </thead>
        <tbody>
            {% for topicsGroup in training.topicsGroups %}
                <tr>
                    <td>
                        {{topicsGroup.name}}
                    </td>
                    <td>
                        {{topicsGroup.topicsTrainings|join(', ')}}
                    </td>
                    
                    <td class="text-end">
                        <div class="btn-list flex-nowrap justify-content-end">
                            <a href="{{path('training_add_topics_group', {'training':training.id, 'tt':topicsGroup.id})}}" class="btn btn-ghost-warning">
                                Modifier
                            </a>
                            <a href="{{path('training_remove_topics_group', {'training':training.id, 'id':topicsGroup.id})}}" class="btn btn-ghost-danger">
                                Supprimer
                            </a>
                        </div>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>