<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="card">
                    {# include 'trainings/parameters/tab_topics.html.twig' with {'allowEditTopics': false}  #}
                </div>
            </div>
        </div>
    </div>
</div>