<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('formatool') }}
         {{ encore_entry_link_tags('calendar') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('formatool') }}
        {{ encore_entry_script_tags('calendar') }}
    {% endblock %}
  </head>
  <body >
     <div class="page">
        <div class="sticky-top">
            {% include('menu/topnav.html.twig') %}
        </div>
        <div class="page-wrapper">
            {% block body %}{% endblock %}
        </div>
     </div>
    {% block javascripts_bottom %}{% endblock %}
    </body>
</html>
