<div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable" id="place-classrooms-table" style="width:100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th class="w-1"></th>   
            </tr>
        </thead>
        <tbody>
            {% for classRoom in place.classRooms %}
                {% if classRoom.inactive is null %}
                    <tr>
                        <td>
                            {{classRoom.name}}
                        </td>
                        
                        <td class="text-end">
                            <div class="btn-list flex-nowrap justify-content-end">
                                {% if (is_granted('PLACE_PARAMETERS_CLASSROOM|WRITE', place)) %}
                                    <a href="{{path('place_add_class_room', {'place':place.id, 'tt':classRoom.id})}}" class="btn btn-ghost-warning">
                                        Modifier
                                    </a>
                                {% endif %}
                                 {% if (is_granted('PLACE_PARAMETERS_CLASSROOM|DELETE', place)) %}
                                    <a href="{{path('place_remove_class_room', {'place':place.id, 'id':classRoom.id})}}" class="btn btn-ghost-danger">
                                        Désactiver
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {%endfor%}
        </tbody>
    </table>
</div>