<div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable" id="place-cursuses-table" style="width:100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Niveau</th>
                <th class="w-1"></th>   
            </tr>
        </thead>
        <tbody>
            {% for cursus in place.cursuses %}
                {% if cursus.inactive is null %}
                    <tr>
                        <td>
                            {{cursus.name}}
                        </td>
                        <td>
                            {{cursus.type.level}}
                        </td>
                        <td class="text-end">
                            <div class="btn-list flex-nowrap justify-content-end">
                                <a href="{{path('place_add_cursus', {'place':place.id, 'tt':cursus.id})}}" class="btn btn-ghost-warning">
                                    Modifier
                                </a>
                                <a href="{{path('place_remove_cursus', {'place':place.id,'id':cursus.id})}}" class="btn btn-ghost-danger">
                                    Désactiver
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {%endfor%}
        </tbody>
    </table>
</div>