<ul class="nav nav-pills card-header-pills" data-bs-toggle="tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a href="{{path('places_parameters', {'id': place.id})}}" class="nav-link {{ (currentTab == 'rooms') ? 'active' : '' }}" ">
            Gestion des salles
        </a>
    </li>
</ul>