{% extends 'base.html.twig' %}

{% block title %}Etablissement : {{place.name}}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}


{% block body %}
    
    {% set addTxt = '' %}
    {% set addLink = '' %}

    {% if currentTab == 'trainings' %}
        {% if (is_granted('PLACE_PARAMETERS_TRAINING|WRITE', place)) %}
            {% set addTxt = 'Nouvelle formation' %}
            {% set addLink = path('place_add_training', {'place': place.id, 'tt': 0}) %}
        {% endif %}
        {% set tabContent = 'places/parameters/tab_trainings.html.twig' %}
    {% endif %}
    {% if currentTab == 'rooms' %}
        {% if (is_granted('PLACE_PARAMETERS_CLASSROOM|WRITE', place)) %}
            {% set addTxt = 'Nouvelle salle' %}
            {% set addLink = path('place_add_class_room', {'place': place.id, 'tt': 0}) %}
        {% endif %}
        {% set tabContent = 'places/parameters/tab_rooms.html.twig' %}
    {% endif %}
    {% if currentTab == 'cursuses' %}
        {% if (is_granted('PLACE_PARAMETERS_CURSUS|WRITE', place)) %}
            {% set addTxt = 'Nouveau cursus' %}
            {% set addLink = path('place_add_cursus', {'place': place.id, 'tt': 0}) %}
        {% endif %}
        {% set tabContent = 'places/parameters/tab_cursuses.html.twig' %}
    {% endif %}
    {% if currentTab == 'people' %}
        {% if (is_granted('PLACE_PARAMETERS_USER|WRITE', place)) %}
            {% set addTxt = 'Nouvel utilisateur' %}
            {% set addLink = path('place_add_person', {'place': place.id, 'tt': 0}) %}
        {% endif %}
        {% set tabContent = 'places/parameters/tab_people.html.twig' %}
    {% endif %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle">
                        {{place.name}}
                    </div>
                    <h2 class="page-title">
                        Paramétrage
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            {% include('places/parameters/tabs_menu.html.twig') %}
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active show">
                                    {% include(tabContent) %}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts_bottom %}
     {{ encore_entry_script_tags('datatable') }}
{% endblock %}

